[Unit]

Description=NTRIP Caster Service

After=network.target


[Service]

Type=simple

ExecStart=/home/ec2-user/ntripcaster/ntripcaster.sh

Restart=always


[Install]

WantedBy=multi-user.target